<!--
  This template loads for the 'tab.scorepad-detail' state (app.js)
  'game' is a $scope variable created in the gameDetailCtrl controller (controllers.js)
  The gameDetailCtrl pulls data from the scorepads service (service.js)
  The scorepads service returns an array of scorepad data
-->
<ion-view title="{{game.name}}">
  <ion-content has-header="true">
      <ion-list>
          <div class="player" ng-repeat="player in game.players">
          <ion-item detect-gestures gesture-type="tap" type="item-text-wrap">
              <span class="player-name">{{player.name}}</span>
              <span class="player-score">{{player.score}}</span>
          </ion-item>
          <div id="{{$index}}" class="playerButtonBar hidden">
              <button ng-click="scoreChangeButtonHandler('add',{{$index}})" class="addButton">+</button>
              <button ng-click="scoreChangeButtonHandler('sub',{{$index}})" class="subButton">-</button>
              <button ng-click="scoreChangeButtonHandler('set',{{$index}})" class="setButton">=</button>
              <input class="numberInput" maxlength="5" type="tel" />
          </div>
          </div>
      </ion-list>
  </ion-content>
  <div class="bar bar-footer">
      <button ng-click="resetGame()" class="button button-balanced">Reset Game</button>
  </div>
</ion-view>
