<ion-view title="New Scorepad">
  <ion-content padding="true">
    <form name="newScorepad" ng-submit="submit(data)">
        <div class="field">
            <label for="name">Scorepad Title:</label>
            <input type="text"
                name="name"
                maxlength="20"
                minlength="1"
                placeholder="E.g. Scrabble, Rummy, etc."
                ng-model="data.name"
                autocomplete="off"
                required
                />
        </div>
        <div class="field">
            <label for="winScore">Winning Score:</label>
            <input type="tel"
            name="winScore"
            maxlength="5"
            minlength="1"
            placeholder="Leave blank for no winning score."
            ng-model="data.winScore"
            autocomplete="off"
            />
        </div>
        <div class="field">
            <label for="player1">Player 1:</label>
            <input type="text"
            name="player1"
            maxlength="15"
            ng-model="data.player1"
            autocomplete="off"
            required
            />
        </div>
        <div class="field">
            <label for="player2">Player 2:</label>
            <input type="text"
            name="player1"
            maxlength="15"
            ng-model="data.player2"
            autocomplete="off"
            />
        </div>
        <div class="field">
            <label for="player3">Player 3:</label>
            <input type="text"
            name="player1"
            maxlength="15"
            ng-model="data.player3"
            autocomplete="off"
            />
        </div>
        <div class="field">
            <label for="player4">Player 4:</label>
            <input type="text"
            name="player1"
            maxlength="15"
            ng-model="data.player4"
            autocomplete="off"
            />
        </div>
        <div class="bar bar-footer hide-on-keyboard-open">
            <input value="Create Scorepad" type="submit" for="newScorepad" class="button button-balanced"/>
        </div>
    </form>
</ion-content>
</ion-view>
