<!--
  This template loads for the 'tab.scorepad-detail' state (app.js)
  'scorepad' is a $scope variable created in the scorepadsCtrl controller (controllers.js)
  The scorepadsCtrl pulls data from the scorepads service (service.js)
  The scorepads service returns an array of scorepad data
-->
<ion-view title="{{scorepad.name}}">
  <ion-content has-header="true">
      <ion-list>
          <ion-item ng-repeat="game in scorepad.games" type="item-text-wrap" href="#/tab/scorepad/{{scorepad.id}}/{{game.name}}">
              {{game.name}}
          </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
