<ion-view title="Scorepads">
  <ion-content overflow-scroll="true">
    <div class="empty-state" ng-if="scorepads.length < 1">
      <div class="empty-wrapper">
        <p>
          You're not playing any games
        </p>
        <a class="button new-game" ng-href="#/scorepads/new">Start Having Fun</a>
      </div>
    </div>
    <ion-list>
      <ion-item ng-repeat="scorepad in scorepads" href="#/scorepad/{{scorepad.id}}">
        {{scorepad.name}}
        <ion-option-button ng-click="swipeToDelete(scorepad)" class="button-assertive deleteButton">Delete</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <div class="bar bar-footer">
      <a class="button button-balanced" href="#/scorepads/new">New Scorepad</a>
  </div>
</ion-view>
