/* Empty. Add your own CSS if you like */
ion-content, .scroll, form {
    height: 100%;
}

.header-item,
.header-item button {
    color: #f0b840 !important;
    text-shadow: 1px 1px 1px #eee;
}

.bar .title {
  font-size: 18px;
  line-height: 43px;
}

.bar-footer {
    width: 100%;
    text-align: center;
    border-top: thin solid #999;
    height: 54px;
}

.bar-footer .button {
    width: 65%;
    margin: auto;
    font-size: 21px;
    padding: 3px 0;
}

.empty-state {
  height: 85%;
  width: 100%;
  text-align: center;
  display: table;
  text-shadow: 1px 1px 1px #eee;
  color: #aaa;
}

.empty-state .empty-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.empty-state p {
  font-size: 1.25em;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.empty-state .button {
  color: #999;
  border-color: #ccc;
  width: 50%;
}

.player {
    overflow: hidden;
    border-bottom: thin solid #ddd;
}

.player ion-item {
    padding: 0 10px;
}

.player-name {
    float: left;
    width: 50%;
    line-height: 64px;
    font-size: 28px;
    display: block;
}

.player-score {
    float: right;
    width: 50%;
    line-height: 64px;
    font-size: 28px;
    text-align: right;
    display: block;
}

.playerButtonBar {
    width: 100%;
    padding: 0px 10px 0px 0px;
    font-size: 18px;
    float: left;
    clear: both;
    -webkit-transition: height 0.2s ease-in-out;
    transition: height 0.2s ease-in-out;
    background-color: #f0b840;
}

.playerButtonBar button {
    width: 20%;
    max-width: 64px;
    height: 100%;
    float: left;
    border: none;
    background-color: #f0b840;
    color: #fff;
    font-size: 24px;
    border-right: thin solid #d39211;
    padding: 0;
}

.playerButtonBar input {
    width: 25%;
    max-width: 90px;
    float: right;
    border: thin solid #999;
    line-height: 36px;
    height: 36px;
    margin-top: 5px;
    text-align: center;
    -webkit-transition: height 0.2s ease-in-out;
    transition: height 0.2s ease-in-out;
}

.playerButtonBar.hidden input {
    height: 0;
}

.hidden {
    height: 0px;
    overflow: hidden;
}

.show {
    display: block;
    height: 46px;
}

form .field {
    margin-top: 20px;
}

form .field:first-child {
    margin-top: 0px;
}

form label {
    font-size: 16px;
}

form .field input {
  box-sizing: border-box;
  border: thin solid #999;
  border-radius: 4px;
  padding: 0 3px;
  width: 100%;
}

.deleteButton {
  line-height: 52px;
}
