/* Empty. Add your own CSS if you like */
ion-content, .scroll, form {
    height: 100%;
}

.header-item,
.header-item button {
    color: #f0b840 !important;
    text-shadow: 1px 1px 1px #eee;
}

.bar .title {
  font-size: 18px;
  line-height: 43px;
}

.bar-footer {
    width: 100%;
    text-align: center;
    border-top: thin solid #999;
    height: 54px;
}

.bar-footer .button {
    width: 65%;
    margin: auto;
    font-size: 21px;
    padding: 3px 0;
}

.empty-state {
  height: 85%;
  width: 100%;
  text-align: center;
  display: table;
  text-shadow: 1px 1px 1px #eee;
  color: #aaa;
}

.empty-state .empty-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.empty-state p {
  font-size: 1.25em;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.empty-state .button {
  color: #999;
  border-color: #ccc;
  width: 50%;
}

.player {
  border-bottom: thin solid #ddd;
  transition: transform 0.2s ease-in;
}

.player ion-item {
  padding: 0 10px;
}

.player-name {
  float: left;
  width: 50%;
  line-height: 64px;
  font-size: 28px;
  display: block;
}

.player-score {
  float: right;
  width: 50%;
  line-height: 64px;
  font-size: 28px;
  text-align: right;
  display: block;
}

.playerButtonBar {
  height: 46px;
  width: 100%;
  padding: 0px 10px 0px 0px;
  font-size: 18px;
  position: absolute;
  top: 1px;
  transition: transform 0.2s ease-in;
  background-color: #f0b840;
}

.playerButtonBar button {
  width: 20%;
  max-width: 64px;
  height: 100%;
  float: left;
  border: none;
  background-color: #f0b840;
  color: #fff;
  font-size: 24px;
  border-right: thin solid #d39211;
  padding: 0;
}

.playerButtonBar input {
  width: 25%;
  max-width: 90px;
  float: right;
  border: thin solid #999;
  line-height: 36px;
  height: 36px;
  margin-top: 5px;
  text-align: center;
}

form ion-input {
  box-sizing: border-box;
  border: none;
  border-bottom: thin solid #aaa;
  margin-bottom: 15px;
  padding: 0;
  width: 100%;
}

form ion-input:first-child {
  margin-top: 0px;
}

form ion-input:last-child {
  margin-bottom: 20px;
}

form ion-label.input-label {
  font-size: 1.1em;
  width: 100%;
}

form h2 {
  font-size: 1.5em;
  font-weight: 300;
  margin-bottom: 0;
}

.deleteButton {
  line-height: 52px;
}
